@model Alumno

@{
    ViewData["Title"] = "Informacion Alumno";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>
<h2>Desde La Alumno Normal</h2>
<p>Nombre: @Model.Nombre <br>
    ID: @Model.Id</p>    
<p>@ViewBag.Fecha</p>

<h2>Desde la Alumno Parcial</h2>
<partial name="ObjetoEscuelaSimple" />