@using platzi_curso_aspcore.Models
@using platzi_curso_aspcore.Controllers

@model IEnumerable<Alumno>

@{
    ViewData["Title"] = "Information Student";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>
<strong>Desde la vista parcial</strong>
<partial name="ListObjetoEscuela" />

<p>@ViewData["date"]</p>
