@model Asignatura

@{
    ViewData["Title"] = "Informacion Asigatura";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>
<h2>Desde La Asignatura Normal</h2>
<p>Nombre: @Model.Nombre <br>
    ID: @Model.Id</p>    
<p>@ViewBag.Fecha</p>

<h2>Desde la Asignatura Parcial</h2>
<partial name="ObjetoEscuelaSimple" />