@using platzi_curso_aspcore.Models
@using platzi_curso_aspcore.Controllers

@model List<Course>

@{
    ViewData["Title"] = "Information Course";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>
<strong>Desde la vista parcial</strong>

@foreach (var course in Model)
{
    <partial name="ObjetoEscuelaSimple" model="course" />
}


<p>@ViewData["date"]</p>
